# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
/backend/venv/
/backend/.venv/
/backend/ml-env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# ML models
/backend/model/*.pkl
/backend/model/*.joblib

# Dataset files
/data/*.csv
/data/*.xlsx
/backend/**/*.csv
/backend/**/*.xlsx

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/

.python-version
/backend/embeddings/*.npy
