# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# ML models
model/*.pkl
model/*.joblib

# Data files
data/*.csv
data/*.xlsx

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/

.python-version
embeddings/*.npy